<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fiveyuanstore"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.READ_SOCIAL_STREAM" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 分享功能 -->
        <activity
            android:name="com.example.fiveyuanstore.share.GetInforActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.share.ShowInforActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.share.AuthActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="cn.sharesdk.onekeyshare.ShareAllGird"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="cn.sharesdk.onekeyshare.SharePage"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="cn.sharesdk.framework.AuthorizeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.PasswordRecoverActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.RegisterActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.StoreActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.goods.AddProductActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.goods.ChangeActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.goods.CommentActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.order.OrderHandlerActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.SellerActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.myProfiles.WalletActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.myProfiles.InboxActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.myProfiles.PasswordChangeActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.myProfiles.InboxChetActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.goods.GoodsContentActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.goods.BuyActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.goods.GoodsInfoActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.order.OrderInfoActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.order.BillListActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.order.BillInfoActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.TransactionActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.myProfiles.MyDataActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.myProfiles.NameChangeActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.myProfiles.EmailChangeActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.inputcells.ChangePictureActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.goodslist.AddGoodsListActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.goodslist.SellerGoodsListActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.goodslist.GoodsListActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.goods.GoodsActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.myProfiles.myData.SetSexActivtiy"
            android:theme="@style/MyDialogStyleBottom" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.order.FinishOrderActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity 
             android:name="com.example.fiveyuanstore.goods.CommentInfoActivity"
             android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
        <activity
            android:name="com.example.fiveyuanstore.ZoneActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity android:name="com.example.fiveyuanstore.inputcells.PictureActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
    </application>

    <!--
    <activity android:name="com.example.fiveyuanstore.CommentInfoActivity"></activity>
		<activity android:name="com.example.fiveyuanstore.SellerActivity"></activity>
		
		
        <activity android:name="com.example.fiveyuanstore.myProfiles.WalletActivity"></activity>
        <activity android:name="com.example.fiveyuanstore.myProfiles.InboxActivity"></activity>
        <activity android:name="com.example.fiveyuanstore.myProfiles.PasswordChangeActivity"></activity>
        <activity android:name="com.example.fiveyuanstore.myProfiles.InboxChetActivity"></activity>
        <activity android:name="com.example.fiveyuanstore.GoodsContentActivity"></activity>
        <activity android:name="com.example.fiveyuanstore.BuyActivity"></activity>
              <activity android:name="com.example.fiveyuanstore.GoodsInfo"></activity>

    </application>
    -->

</manifest>