<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fiveyuanstore"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.READ_SOCIAL_STREAM" />

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.PasswordRecoverActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.RegisterActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.StoreActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.AddProductActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.ChangeActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.CommentActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.OrderHandlerActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.SellerActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.myProfiles.WalletActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.myProfiles.InboxActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.myProfiles.PasswordChangeActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.myProfiles.InboxChetActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.GoodsContentActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.BuyActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.GoodsInfo"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.OrderInfoActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.BillListActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.BillInfoActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.TransactionActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.fiveyuanstore.goodslist.AddGoodsListActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
    </application>

    <!--
    <activity android:name="com.example.fiveyuanstore.OrderHandlerActivity"></activity>
		<activity android:name="com.example.fiveyuanstore.SellerActivity"></activity>
		
		
        <activity android:name="com.example.fiveyuanstore.myProfiles.WalletActivity"></activity>
        <activity android:name="com.example.fiveyuanstore.myProfiles.InboxActivity"></activity>
        <activity android:name="com.example.fiveyuanstore.myProfiles.PasswordChangeActivity"></activity>
        <activity android:name="com.example.fiveyuanstore.myProfiles.InboxChetActivity"></activity>
        <activity android:name="com.example.fiveyuanstore.GoodsContentActivity"></activity>
        <activity android:name="com.example.fiveyuanstore.BuyActivity"></activity>
              <activity android:name="com.example.fiveyuanstore.GoodsInfo"></activity>

    </application>
    -->

</manifest>